# Environment files
.env
*.env

# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE files
.vscode/
.idea/

# Packaging
*.egg-info/
dist/
build/

# Miscellaneous
.DS_Store
